<link rel="stylesheet" href="/project_New_Start/src/css/styles.css" />
<link rel="stylesheet" href="/project_New_Start/src/css/advertisement.css" />

<section class="advertisement" id="advertisement">
  <div class="container advertisement-container">
    <h2 class="visually-hidden">Advertisement</h2>
    <div class="advertisement-row">
      <p class="advertisement-text">
        Choose <span class="advertisement-span">your story</span>, making every
        moment unique. Time is your style, and we reveal it.
      </p>

      <a class="advertisement-button" href="#contact-us">Contact Us</a>
    </div>
  </div>
</section>
