<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/fenix7x/fenix7x-desc.png    1x,
              ./img/catalog/fenix7x/fenix7x-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/fenix7x/fenix7x-tab.png    1x,
              ./img/catalog/fenix7x/fenix7x-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/fenix7x/fenix7x-mob.png    1x,
              ./img/catalog/fenix7x/fenix7x-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/fenix7x/fenix7x-mob.png"
            alt="Garmin Fenix 7X Pro"
          />
        </picture>

        <div class="wrapper-catalog-text">
          <p class="product-name">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="item-catalog-price">€500</p>
        </div>
        <div class="purchase-button-container">
          <h2 class="back-h2">Garmin Fenix 7X Pro Sapphire Solar</h2>
          <i class="fa-solid fa-person"></i>
          <div class="purchase-button light">Purchase</div>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/delta/delta-desc.png    1x,
              ./img/catalog/delta/delta-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/delta/delta-tab.png    1x,
              ./img/catalog/delta/delta-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/delta/delta-mob.png    1x,
              ./img/catalog/delta/delta-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/delta/delta-mob.png"
            alt="delta garmin clock"
          />
        </picture>

        <div class="wrapper-catalog-text">
          <p class="product-name">Garmin D2 Delta PX</p>
          <p class="item-catalog-price">€380</p>
        </div>
        <div class="purchase-button-container">
          <h2 class="back-h2">Garmin D2 Delta PX</h2>

          <div class="purchase-button">Purchase</div>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/marq/marq-desc.png    1x,
              ./img/catalog/marq/marq-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/marq/marq-tab.png    1x,
              ./img/catalog/marq/marq-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/marq/marq-mob.png    1x,
              ./img/catalog/marq/marq-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/marq/marq-mob.png"
            alt="Garmin Marq Athlete"
          />
        </picture>
        <div class="wrapper-catalog-text">
          <p class="product-name">Garmin Marq Athlete</p>
          <p class="item-catalog-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/descent/descent-desc.png    1x,
              ./img/catalog/descent/descent-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/descent/descent-tab.png    1x,
              ./img/catalog/descent/descent-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/descent/descent-mob.png    1x,
              ./img/catalog/descent/descent-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/descent/descent-mob.png"
            alt="Garmin Descent MK1"
          />
        </picture>
        <div class="wrapper-catalog-text">
          <p class="product-name">Garmin Descent MK1</p>
          <p class="item-catalog-price">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/fenix6/fenix6-desc.png    1x,
              ./img/catalog/fenix6/fenix6-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/fenix6/fenix6-tab.png    1x,
              ./img/catalog/fenix6/fenix6-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/fenix6/fenix6-mobile.png   1x,
              ./img/catalog/fenix6/fenix6-mobile2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/fenix6/fenix6-mobile.png"
            alt="Garmin Fenix 6 Pro Solar"
          />
        </picture>
        <div class="wrapper-catalog-text">
          <p class="product-name">Garmin Fenix 6 Pro Solar</p>
          <p class="item-catalog-price">€400</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/tube/tube-desc.png    1x,
              ./img/catalog/tube/tube-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/tube/tube-tab.png    1x,
              ./img/catalog/tube/tube-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/tube/tube-mobile.png    1x,
              ./img/catalog/tube/tube-mobile-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/tube/tube-mobile.png"
            alt="Tube Watch S42"
          />
        </picture>
        <div class="wrapper-catalog-text">
          <p class="product-name">Tube Watch S42 Date Steel With Black Case</p>
          <p class="item-catalog-price">€395</p>
        </div>
      </li>

      <button class="showmore-catalog-btn" type="button">Show more</button>
    </ul>
  </div>
</section>
