<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/fenix7x/fenix7x-desc.png    1x,
              ./img/catalog/fenix7x/fenix7x-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/fenix7x/fenix7x-tab.png    1x,
              ./img/catalog/fenix7x/fenix7x-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/fenix7x/fenix7x-mob.png    1x,
              ./img/catalog/fenix7x/fenix7x-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/fenix7x/fenix7x-mob.png"
            alt="Garmin Fenix 7X Pro"
          />
        </picture>

        <div class="wrapper-catalog-text">
          <h3 class="product-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="item-catalog-price">€500</p>
        </div>
        <div class="purchase-button-container">
          <p class="purchase-text">
            Meet any athletic or outdoor challenge with the rugged fēnix 7
            Sapphire Solar multisport GPS watch. Its scratch-resistant Power
            Sapphire™ solar charging lens uses the sun’s energy to extend
            battery life — powering advanced training features, sports apps,
            health and wellness monitoring sensors and more.
          </p>

          <h3 class="back-h2">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <a href="#contact-us" class="purchase-button">Purchase</a>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/delta/delta-desc.png    1x,
              ./img/catalog/delta/delta-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/delta/delta-tab.png    1x,
              ./img/catalog/delta/delta-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/delta/delta-mob.png    1x,
              ./img/catalog/delta/delta-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/delta/delta-mob.png"
            alt="delta garmin clock"
          />
        </picture>

        <div class="wrapper-catalog-text">
          <h3 class="product-name">Garmin D2 Delta PX</h3>
          <p class="item-catalog-price">€380</p>
        </div>
        <div class="purchase-button-container">
          <p class="purchase-text">
            The Garmin D2 family of premium GPS aviator watches was the first to
            put true global flight navigation capability on the wrists of
            forward-looking pilots and flying enthusiasts. Now, with our D2
            Delta series, we’ve brought this technology to whole new levels of
            capability and connectivity.
          </p>
          <h3 class="back-h2">Garmin D2 Delta PX</h3>

          <a href="#contact-us" class="purchase-button">Purchase</a>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/marq/marq-desc.png    1x,
              ./img/catalog/marq/marq-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/marq/marq-tab.png    1x,
              ./img/catalog/marq/marq-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/marq/marq-mob.png    1x,
              ./img/catalog/marq/marq-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/marq/marq-mob.png"
            alt="Garmin Marq Athlete"
          />
        </picture>
        <div class="wrapper-catalog-text">
          <h3 class="product-name">Garmin Marq Athlete</h3>
          <p class="item-catalog-price">€450</p>
        </div>
        <div class="purchase-button-container">
          <p class="purchase-text">
            MARQ Athlete is the luxury modern tool watch tuned to separate you
            from your rivals. For competitors who demand the very best from
            themselves, there is no greater reward.
          </p>
          <h3 class="back-h2">Garmin Marq Athlete</h3>

          <a href="#contact-us" class="purchase-button">Purchase</a>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/descent/descent-desc.png    1x,
              ./img/catalog/descent/descent-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/descent/descent-tab.png    1x,
              ./img/catalog/descent/descent-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/descent/descent-mob.png    1x,
              ./img/catalog/descent/descent-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/descent/descent-mob.png"
            alt="Garmin Descent MK1"
          />
        </picture>
        <div class="wrapper-catalog-text">
          <h3 class="product-name">Garmin Descent MK1</h3>
          <p class="item-catalog-price">€680</p>
        </div>
        <div class="purchase-button-container">
          <p class="purchase-text">
            Premium full-featured dive computer with surface GPS in a sleek
            watch-style design; with bright 1.2” color display and TOPO mapping
            Built-in sensors include 3-axis compass, gyroscope and barometric
            altimeter as well as GPS and GLONASS capability that lets you mark
            your dive entry and exit points¹ for surface navigation
          </p>
          <h3 class="back-h2">Garmin Descent MK1</h3>

          <a href="#contact-us" class="purchase-button">Purchase</a>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/fenix6/fenix6-desc.png    1x,
              ./img/catalog/fenix6/fenix6-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/fenix6/fenix6-tab.png    1x,
              ./img/catalog/fenix6/fenix6-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/fenix6/fenix6-mobile.png   1x,
              ./img/catalog/fenix6/fenix6-mobile2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/fenix6/fenix6-mobile.png"
            alt="Garmin Fenix 6 Pro Solar"
          />
        </picture>
        <div class="wrapper-catalog-text">
          <h3 class="product-name">Garmin Fenix 6 Pro Solar</h3>
          <p class="item-catalog-price">€400</p>
        </div>
        <div class="purchase-button-container">
          <p class="purchase-text">
            Featuring a Power Glass™ solar charging lens and customizable power
            manager modes, this smartwatch can stay on and performance-ready for
            weeks.
          </p>
          <h3 class="back-h2">Garmin Fenix 6 Pro Solar</h3>

          <a href="#contact-us" class="purchase-button">Purchase</a>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            srcset="
              ./img/catalog/tube/tube-desc.png    1x,
              ./img/catalog/tube/tube-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/tube/tube-tab.png    1x,
              ./img/catalog/tube/tube-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/catalog/tube/tube-mobile.png   1x,
              ./img/catalog/tube/tube-mobile2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            src="./img/catalog/tube/tube-mobile.png"
            alt="Tube Watch S42"
          />
        </picture>
        <div class="wrapper-catalog-text">
          <h3 class="product-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="item-catalog-price">€395</p>
        </div>
        <div class="purchase-button-container">
          <p class="purchase-text">
            We’ve got your game with Tube Watch S42, a GPS golf smartwatch
            that’s designed for lowering your score on the course and upping
            your style off the course.
          </p>
          <h3 class="back-h2">Tube Watch S42 Date Steel With Black Case</h3>

          <a href="#contact-us" class="purchase-button">Purchase</a>
        </div>
      </li>
    </ul>
    <button class="showmore-catalog-btn" type="button">Show more</button>
  </div>
</section>
