<header class="header">
  <div class="container header-container">
    <nav class="nav-header">
      <a class="link-header-logo" href="./index.html">watchcharm</a>
      <ul class="list-link-header">
        <li>
          <a class="link-header" href="./index.html">Home</a>
        </li>
        <li><a class="link-header" href="#about-us">About Us</a></li>
        <li><a class="link-header" href="#catalog">Catalog</a></li>
        <li><a class="link-header" href="#sale">Sale</a></li>
        <li><a class="link-header" href="#reviews">Reviews</a></li>
        <li><a class="link-header" href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>
    <div class="social-header">
      <ul class="list-social-header">
        <li class="list-items-social-header">
          <a
            class="link-social-header"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            aria-label="facebook.com"
          >
            <svg class="svg-social-header" width="21" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="list-items-social-header">
          <a
            class="link-social-header"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            aria-label="instagram.com"
          >
            <svg class="svg-social-header" width="21" height="20">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="list-items-social-header">
          <a
            class="link-social-header"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            aria-label="youtube.com"
          >
            <svg class="svg-social-header" width="21" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="btn-header" type="button" data-menu-open aria-label="open menu">
      <svg class="icon-btn-header" width="34" height="34">
        <use href="./img/icons.svg#icon-menu-btn"></use>
      </svg>
    </button>
  </div>

  <!-- mobile menu -->

  <div class="mobile-menu-header" data-menu>
    <div class="container mobile-menu-header-container">
      <button class="btn-mobile-menu-header" type="button" data-menu-close aria-label="close menu">
        <svg class="svg-btn-mobile-menu-header" width="34" height="34">
          <use href="./img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
      <nav class="nav-mobile-menu-header">
        <ul class="list-link-mobile-menu-header">
          <li >
            <a 
              class="link-mobile-menu-header active-home-mobile-menu-header"
              href="./index.html"
              >Home</a
            >
          </li>
          <li >
            <a data-menu-about-close class="link-mobile-menu-header" href="#about-us">About Us</a>
          </li>
          <li >
            <a data-menu-catalog-close class="link-mobile-menu-header" href="#catalog">Catalog</a>
          </li>
          <li ><a data-menu-sale-close class="link-mobile-menu-header" href="#sale">Sale</a></li>
          <li >
            <a data-menu-reviews-close class="link-mobile-menu-header" href="#reviews">Reviews</a>
          </li>
          <li >
            <a data-menu-contact-us-close class="link-mobile-menu-header" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="social-mobile-menu-header">
        <ul class="list-social-mobile-menu-header">
          <li>
            <a
              class="link-social-mobile-menu-header"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              aria-label="facebook.com"
            >
              <svg class="svg-social-mobile-menu-header" width="18" height="18">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="link-social-mobile-menu-header"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              aria-label="instagram.com"
            >
              <svg class="svg-social-mobile-menu-header" width="18" height="18">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="link-social-mobile-menu-header"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              aria-label="youtube.com"
            >
              <svg class="svg-social-mobile-menu-header" width="18" height="18">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
