<header class="header">
  <div class="container header-container">
    <nav class="nav-header">
      <a class="link-header-logo" href="">watchcharm</a>
      <ul class="list-link-header">
        <li><a class="link-header active-home" href="">Home</a></li>
        <li><a class="link-header" href="">About Us</a></li>
        <li><a class="link-header" href="">Catalog</a></li>
        <li><a class="link-header" href="">Sale</a></li>
        <li><a class="link-header" href="">Reviews</a></li>
        <li><a class="link-header" href="">Contact Us</a></li>
      </ul>
    </nav>
    <div class="social-header">
      <ul class="list-social-header">
        <li>
          <a
            class="linl-social-header"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="svg-social-header" width="21" height="20">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="linl-social-header"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="svg-social-header" width="21" height="20">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="linl-social-header"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="svg-social-header" width="21" height="20">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="btn-header" type="button">
      <svg class="icon-btn-header" width="34" height="34">
        <use href="../img/icons.svg#icon-menu-btn"></use>
      </svg>
      <svg class="icon-btn-header-tbl" width="40" height="40"></svg>
        <use href="../img/icons.svg#icon-menu-btn"></use>
      </svg>
    </button>
  </div>
</header>
<h1>heloo</h1>