<section class="hero" id="hero">
  <div class="hero-container container">
    <div class="hero-box">
      <div class="hero-text-box">
        <h1 class="hero-title">
          Welcome to our <span class="hero-accent">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-small-box">
        <ul class="hero-list">
          <li class="hero-list-items">
            <picture>
              <source
                srcset="
                  ../img/hero/victoria-romashenko/victoria-romashenko-mob.png    1x,
                  ../img/hero/victoria-romashenko/victoria-romashenko-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ../img/hero/victoria-romashenko/victoria-romashenko-tab.png    1x,
                  ../img/hero/victoria-romashenko/victoria-romashenko-tab-2x.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                class="hero-list-img"
                srcset="
                  ../img/hero/victoria-romashenko/victoria-romashenko-desc.png    1x,
                  ../img/hero/victoria-romashenko/victoria-romashenko-desc-2x.png 2x
                "
                src="../img/hero/victoria-romashenko/victoria-romashenko-desc.png"
                alt="Victoria Romashenko's portrait"
              />
            </picture>
          </li>
          <li class="hero-list-items">
            <picture>
              <source
                srcset="
                  ../img/hero/john-wax/john-wax-mob.png    1x,
                  ../img/hero/john-wax/john-wax-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ../img/hero/john-wax/john-wax-tab.png    1x,
                  ../img/hero/john-wax/john-wax-tab-2x.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                class="hero-list-img"
                srcset="
                  ../img/hero/john-wax/john-wax-desc.png    1x,
                  ../img/hero/john-wax/john-wax-desc-2x.png 2x
                "
                src="../img/hero/john-wax/john-wax-desc.png"
                alt="John Wax's portait"
              />
            </picture>
          </li>
          <li class="hero-list-items">
            <picture>
              <source
                srcset="
                  ../img/hero/anastasia-trachuk/anastasia-trachuk-mob.png    1x,
                  ../img/hero/anastasia-trachuk/anastasia-trachuk-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ../img/hero/anastasia-trachuk/anastasia-trachuk-tab.png    1x,
                  ../img/hero/anastasia-trachuk/anastasia-trachuk-tab-2x.png 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                class="hero-list-img"
                srcset="
                  ../img/hero/anastasia-trachuk/anastasia-trachuk-desc.png    1x,
                  ../img/hero/anastasia-trachuk/anastasia-trachuk-desc-2x.png 2x
                "
                src="../img/hero/anastasia-trachuk/anastasia-trachuk-desc.png"
                alt="Anastasia Trachuk's portrait"
              />
            </picture>
          </li>
        </ul>
        <a href="#footer" class="hero-scroll-link">Scroll down</a>
      </div>
    </div>
    <!-- <img
      class="hero-img"
      srcset="
        ../img/hero/hero-watch-mob.jpg    1x,
        ../img/hero/hero-watch-mob-2x.jpg 2x
      "
      src="../img/hero/hero-watch-mob.jpg"
      alt="Watch's image"
    /> -->
    <div class="hero-img"></div>
  </div>
</section>
