

    


    <!--  rewievs -->
    <link rel="stylesheet" href="../css/reviews.css" />
      <section class="reviews-section container">
      <div class="reviews-wrap-content">
        <h2 class="reviews-title">Reviews</h2>
        <div clasтзь npms="reviews-container">
          <ul class="reviews-list">
            <div class="reviews-border-card"> <li class="reviews-item">
          
              <img class="reviews-photo" src="" alt="" srcset=" x1 , x2 " height=" " width="">
          
              <h3 class="reviews-name">John Wax</h3>
              <p class="reviews-text" >
                Buying a watch from was the best choice for me. The design is
                perfectly combined with high quality materials. The strap fits
                nicely on the hand, and the mechanism works flawlessly.
              </p>
           
          </li>
  </div>
            <li class="reviews-item">
           
                <img class="reviews-photo" src="" alt="" />
           
    
             
                <h3 class="reviews-name">Victoria Romashenko</h3>
                <p class="reviews-text">
                  Can't take my eyes off my watch from. Every time I put it on, it
                  is admired by those around me. The build quality and attention to
                  detail make it a real gem among my accessories.
                </p>
            
           
            </li>
            <li class="reviews-item">
              
                <img  class="reviews-photo" src="" alt="" />
             
    
      
                <h3 class="reviews-name">Anastasia Trachuk</h3>
                <p class="reviews-text">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>
          
            </li>
          </ul>
        </div>
    </div>
      </section>
    
    
    <!--  rewievs -->
    </body>
</html>

