<section class="review">
  <div class="container">
    <h2 class="review-title">Reviews</h2>
    <ul class="review-list">
      <li class="review-items">
        <picture class="review-picture">
          <source
            srcset="
              ./img/reviews/john-wax.png    1x,
              ./img/reviews/john-wax-2x.png 2x
            "
          />
          <img
            loading="lazy"
            src="./img/reviews/john-wax.png "
            alt="john-wax photo"
          />
        </picture>
        <p class="author-name">John Wax</p>
        <p class="author-qoute">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="review-items">
        <picture class="review-picture">
          <source
            srcset="
              ./img/reviews/victoria-romashenko.png    1x,
              ./img/reviews/victoria-romashenko-2x.png 2x
            "
          />
          <img
            loading="lazy"
            src="./img/reviews/victoria-romashenko.png "
            alt="victoria-romashenko photo"
          />
        </picture>
        <p class="author-name">Victoria Romashenko</p>
        <p class="author-qoute">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="review-items">
        <picture class="review-picture">
          <source
            srcset="
              ./img/reviews/anastasia-trachuk.png    1x,
              ./img/reviews/anastasia-trachuk-2x.png 2x
            "
          />
          <img
            loading="lazy"
            src="./img/reviews/anastasia-trachuk.png "
            alt="Anastasia Trachuk photo"
          />
        </picture>
        <p class="author-name">Anastasia Trachuk</p>
        <p class="author-qoute">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
