<section class="sale-section" id="sale">
      
  <div class="sale-container container">


    <div>
      <h2 class="sale-title">Sale</h2>


      <div class="sale-container-image">  
        
        
        <ul class="sale-list">

        <li class="sale-list-item">
          <picture>
            <source srcset="
              /img/sale/1/1-desc.png 1x, 
              /img/sale/1/1-desc-2x.png 2x" 
              media="(min-width: 1280px)"
            />
            <source srcset="
              /img/sale/1/1-tab.png 1x, 
              /img/sale/1/1-tab-2x.png 2x" 
              media="(min-width: 768px)"
            />
            <source srcset="
              /img/sale/1/1-mob.png 1x, 
              /img/sale/1/1-mob-2x.png 2x" 
              media="(max-width: 767px)"
            />
            <img
              src="../img/sale/1/1-desc.png"
              alt="img-clock-1"
              width="96"
              class="animation-img"
            />
          </picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source srcset="
              /img/sale/2/2-mob.png 1x, 
              /img/sale/2/2-mob-2x.png 2x" 
              media="(max-width: 767px)"
            />
            <source srcset="
              /img/sale/2/2-tab.png 1x, 
              /img/sale/2/2-tab-2x.png 2x" 
              media="(min-width: 768px)"
            />
            <source srcset="
              /img/sale/2/2-desc.png 1x, 
              /img/sale/2/2-desc-2x.png 2x" 
              media="(min-width: 1280px)"
            />
            <img
              src="../img/sale/2/2-desc.png"
              alt="img-clock-2"
              width="96"
              class="animation-img"
            />
          </picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source srcset="
              /img/sale/3/3-mob.png 1x, 
              /img/sale/3/3-mob-2x.png 2x" 
              media="(max-width: 767px)"
            />
            <source srcset="
              /img/sale/3/3-tab.png 1x, 
              /img/sale/3/3-tab-2x.png 2x" 
              media="(min-width: 768px)"
            />
            <source srcset="
              /img/sale/3/3-desc.png 1x, 
              /img/sale/3/3-desc-2x.png 2x" 
              media="(min-width: 1280px)"
            />
            <img
              src="/img/sale/3/3-desc.png"
              alt="img-clock-3"
              width="96"
              class="animation-img"
            />
          </picture>
        </li >
        <li class="sale-list-item">
          <picture>
            <source srcset="
              /img/sale/4/4-mob.png 1x, 
              /img/sale/4/4-mob-2x.png 2x" 
                media="(max-width: 767px)"
              />
            <source srcset="
              /img/sale/4/4-tab.png 1x, 
              /img/sale/4/4-tab-2x.png 2x" 
              media="(min-width: 768px)"
            />
            <source srcset="
              /img/sale/4/4-desc.png 1x, 
              /img/sale/4/4-desc-2x.png 2x" 
              media="(min-width: 1280px)"
            />
            <img
              src="/img/sale/4/4-desc.png"
              alt="img-clock-4"
              width="96"
              class="animation-img"
            />
          </picture>
        </li>
      </ul>


        <div class="sale-container-big-clock">
          
            
              <picture>
                <source srcset="
                  /img/sale/big/big-sale-watch-mob.png 1x,
                  /img/sale/big/big-sale-watch-mob-2x.png 2x"
                  media="(max-width: 767px)"
                />
                <source srcset="
                  /img/sale/big/big-sale-watch-tab.png 1x,
                  /img/sale/big/big-sale-watch-tab-2x.png 2x"
                   media="(min-width: 768px)"
                />
                <source srcset="
                  /img/sale/big/big-sale-watch-desc.png 1x,
                  /img/sale/big/big-sale-watch-desc-2x.png 2x"
                  media="(min-width: 1280px)"
                />
                <img
                  src="/img/sale/big/big-sale-watch-desc.png"
                  alt="view-clock"
                  width="328"
                  class="animation-big-img"
                >
              </picture>
            
        </div>
      </div>
    </div>


    <div class="sale-description">
      <h3 class="sale-desc-header">MARQ® Commander (Gen 2) - Carbon Edition</h3>
      <p class="sale-prod-tag">Product tag: 706587</p>
      <p class="sale-price"><span class="sale-discount-price">€1500</span>€3000</p>
      <p class="sale-desc-item">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
      </p>  
      <ul class="sale-quality">
      <li class="sale-quality-list">
        <p class="sale-quality-text">Fused carbon fiber</p>
      </li>
      <li class="sale-quality-list">
        <p class="sale-quality-text">Grade-5 Titanuim</p>
      </li>
      <li class="sale-quality-list">
        <p class="sale-quality-text">Athlete</p>
      </li>
      <li class="sale-quality-list">
        <p class="sale-quality-text">Golfer</p>
      </li>
      <li class="sale-quality-list">
        <p class="sale-quality-text">Commander</p>
      </li>
      <li class="sale-quality-list">
        <p class="sale-quality-text">Adventurer</p>
      </li>
    </div>
  </div>  
</section>