.advertisement-container {
  margin-top: 100px;
}
.advertisement-row {
  background-image: url(../img/advertisement/adv-desc.png);
  background-color: rgba(012, 012, 012, 0.85);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .advertisement-row {
    background-image: url(../img/advertisement/adv-desc-2x.png);
  }
}
.advertisement-text {
  display: block;
  font-weight: 600;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -0.96px;
  color: white;
  max-width: 690px;
  font-style: normal;
  min-width: 279px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advertisement-span {
  color: rgba(251, 251, 251, 0.5);
}
.advertisement-button {
  display: block;
  color: #fbfbfb;
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  padding: 15px 0;
  height: 100%;
  min-width: 160px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advertisement-button:hover,
.advertisement-button:focus {
  color: #0c0c0c;
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  background: #fbfbfb;
}

@media screen and (max-width: 1280px) {
  .advertisement-container {
    margin-top: 80px;
  }
  .advertisement-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 80px 64px;
  }
  .advertisement-button {
    width: 160px;
  }
  .advertisement-row {
    background-image: url(../img/advertisement/adv-tab.png);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .advertisement-row {
      background-image: url(../img/advertisement/adv-tab-2x.png);
    }
  }
}
@media screen and (max-width: 768px) {
  .advertisement-container {
    margin-top: 60px;
  }
  .advertisement-text {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 100% */
    letter-spacing: -0.64px;
  }
  .advertisement-row {
    gap: 28px;
    padding: 60px 20px;
  }
  .advertisement-row {
    background-image: url(../img/advertisement/adv-mob.png);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .advertisement-row {
      background-image: url(../img/advertisement/adv-mob-2x.png);
    }
  }
}
