address {
  font-style: normal;
}

.footer {
  margin: 60px 20px 20px 20px;
  max-width: 1280px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0c0c;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
}

.footer-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-socials-list {
  list-style: none;
  display: flex;
}

.footer-socials-item {
  margin-right: 15px;
}

.footer-socials-icons {
  fill: rgba(251, 251, 251, 0.5);
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  opacity: 0.8;
}

.footer-socials-icons:hover,
.footer-socials-icons:focus {
  opacity: 1;
}

.footer-contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  padding: 14px 20px;
  margin-top: 20px;
}

.footer-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 92px;
}

.footer-navigation {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  gap: 49px;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 16px;
  row-gap: 8px;
  margin-right: 0px;
  padding-bottom: 4px;
  width: 147px;
}

.footer-address {
  width: 83px;
}

.footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 48px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 28px;
  border-top: 1px solid rgba(251, 251, 251, 0.1);
  padding-top: 24px;
  margin-top: 24px;
  width: 100%;
}

.terms {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .footer {
    margin: 80px 32px 32px 32px;
  }
  .container-footer {
    padding: 40px 28px 20px 40px;
  }
  .footer-logo {
    font-size: 20px;
  }
  .footer-socials-icons {
    width: 36px;
    height: 36px;
  }
  .footer-contact {
    margin-top: -40px;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 1.29;
    padding: 15px;
  }
  .footer-text {
    font-size: 28px;
    line-height: 1.14;
    margin: 86px 54px 100px 54px;
  }
  .footer-navigation {
    font-size: 14px;
    line-height: 1.29;

    width: 100%;
  }
  .footer-nav-list {
    column-gap: 19px;
    width: 400px;
  }
  .footer-address {
    width: 162px;
  }
  .footer-info {
    flex-direction: row;
    font-size: 14px;
    line-height: 1.29;
    gap: 159px;
    margin-top: 56px;
    padding-top: 28px;
    margin-top: 28px;
  }
}

@media (min-width: 1280px) {
  .footer {
    margin: 100px 32px 32px 32px;
  }
  .container-footer {
    padding: 40px 40px 28px 40px;
  }
  .footer-text {
    margin: -80px 307px 126px 306px;
  }
  .footer-navigation {
    gap: 469px;
  }
  .footer-nav-list {
    width: 505px;
    column-gap: 40px;
  }
  .footer-info {
    gap: 661px;
  }
}
