.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  position: sticky;
  top: 0;
  background-color: #fbfbfb;
  z-index: 9999;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-link-header,
.social-header {
  display: none;
}

.link-header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin: 7.5px 0;
  display: block;
}

.btn-header {
  padding: 0;
  border: transparent;
  background-color: transparent;
}

.icon-btn-header {
  display: block;
  fill: #0c0c0c;
}

@media only screen and (min-width: 768px) {
  .link-header-logo {
    margin: 8px 0;
    font-size: 20px;
  }

  .icon-btn-header {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .link-header-logo {
    padding: 0;
    margin: 6px 203px 6px 0;
  }
  .btn-header {
    display: none;
  }

  .nav-header {
    display: flex;
  }

  .list-link-header {
    display: flex;
    gap: 40px;
    margin: 4px 0;
  }

  .link-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-header:hover,
  .link-header:focus {
    color: #3350e9;
  }

  .link-header::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 20px;
    border-radius: 100%;
    background-color: #3350e9;
    width: 9px;
    height: 8px;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
  }

  .link-header:hover:after,
  .link-header:focus:after,
  .link-header.active-home::after {
    opacity: 1;
  }

  .link-header:hover,
  .link-header:focus,
  .link-header.active-home {
    color: #3350e9;
  }


/* .nav-list-link::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-link:hover:after,
  .nav-list-link:focus:after,
  .nav-list-link.current::after {
    opacity: 1;
  }

  .nav-list-link:hover,
  .nav-list-link:focus,
  .contacts-list-link:hover,
  .contacts-list-link:focus,
  .nav-list-link.current {
    color: #404bbf;
  } */

  .social-header {
    display: block;
  }

  .list-social-header {
    display: flex;
    gap: 10px;
  }

  .link-social-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    width: 36px;
    height: 36px;
    fill: #3350e9;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-items-social-header:hover .link-social-header,
  .list-items-social-header:focus-within .link-social-header{
    border-color:  #3350e9;
  }

  .svg-social-header {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-items-social-header:hover .svg-social-header,
  .list-items-social-header:focus-within .svg-social-header {
    fill: #3350e9;
  }
}

/* mobile menu */

.mobile-menu-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.mobile-menu-header.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-header:not(.is-open) .mobile-menu-header-container {
  transform: translateX(100%);
}

.mobile-menu-header-container {
  margin: 0 0 0 auto;
  background-color: #0c0c0c;
  background-image: url(/img/mobile-menu/beckground-menu-mob.jpg);
  background-repeat: no-repeat;
  max-width: 200px;
  min-width: 200px;
  padding: 0;
  position: relative;
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .mobile-menu-header-container {
    background-image: url(/img/mobile-menu/beckground-menu-mob-2x.jpg);
  }
}

.btn-mobile-menu-header {
  padding: 0;
  border: transparent;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}

.svg-btn-mobile-menu-header {
  display: block;
  stroke: #fbfbfb;
}

.nav-mobile-menu-header {
  margin: 0 63.5px auto;
}

.list-link-mobile-menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.link-mobile-menu-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mobile-menu-header:hover,
.link-mobile-menu-header:focus {
  color: #3350e9;
}

.active-home-mobile-menu-header {
  position: relative;
}

.active-home-mobile-menu-header::after {
  content: '';
  position: absolute;
  left: 15px;
  top: 20px;
  border-radius: 100%;
  background-color: #3350e9;
  width: 9px;
  height: 8px;
}

.list-social-mobile-menu-header {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.linl-social-mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  fill: #fbfbfb;
}

.social-mobile-menu-header {
  margin: 0 39px;
}

.svg-social-mobile-menu-header {
  fill: #fbfbfb;
  opacity: 0.8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-social-mobile-menu-header:hover,
.svg-social-mobile-menu-header:focus {
  fill: #fbfbfb;
  opacity: 1;
}

@media only screen and (min-width: 1280px) {
  .mobile-menu-header {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu-header-container {
    background-image: url(/img/mobile-menu/beckground-menu-tab.jpg);
    max-width: 330px;
    min-width: 330px;
    padding-top: 330px;
    padding-bottom: 50px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .mobile-menu-header-container {
      background-image: url(/img/mobile-menu/beckground-menu-tab-2x.jpg);
    }
  }

  .svg-btn-mobile-menu-header {
    width: 40px;
    height: 40px;
  }

  .nav-mobile-menu-header {
    margin: 0 128.5px auto;
  }

  .list-link-mobile-menu-header {
    gap: 32px;
  }

  .social-mobile-menu-header {
    margin: 0 101px;
  }

  .linl-social-mobile-menu-header {
    width: 36px;
    height: 36px;
  }

  .svg-social-mobile-menu-header {
    width: 20px;
    height: 20px;
  }
}
