
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
} 

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1280px;
    padding: 0 15px;
  }
}

.reviews-border-card {  border: 1px solid #0c0c0c
  ;
border-radius: 20px;}
.reviews-section { 
 
}
.reviews-title {
  font-family: 'Gilroy', sans-serif;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.reviews-container {


}
.reviews-list { display: flex;
  gap:20px;
  
}
.reviews-item { 

  border: #0c0c0c;
  background-color: #f3f3f3;

 
}
.reviews-photo {
    margin-bottom: 24px; 
    max-width: 100%; 
    height: auto;

}
.reviews-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

@media only screen and (min-width: 768px) {
  
 

  .reviews-name {
    font-size: 18px;
    line-height: 1.1;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1128px) {
  

  
}
